In [60]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df = school_data_complete
print(school_data_complete)

       Student ID     student_name gender  year         school_name  \
0               0     Paul Bradley      M     9   Huang High School
1               1     Victor Smith      M    12   Huang High School
2               2  Kevin Rodriguez      M    12   Huang High School
3               3    Richard Scott      M    12   Huang High School
4               4       Bonnie Ray      F     9   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F    12  Thomas High School
39166       39166        Dawn Bell      F    10  Thomas High School
39167       39167   Rebecca Tanner      F     9  Thomas High School
39168       39168     Desiree Kidd      F    10  Thomas High School
39169       39169  Carolyn Jackson      F    11  Thomas High School

       reading_score  maths_score  School ID         type  size   budget
0                 96           94          0   Government  2917  1910635
1                 90           43          0   Government  2917  1910635
2                 41           76          0   Government  2917  1910635
3                 89           86          0   Government  2917  1910635
4                 87           69          0   Government  2917  1910635
...              ...          ...        ...          ...   ...      ...
39165             51           48         14  Independent  1635  1043130
39166             81           89         14  Independent  1635  1043130
39167             99           99         14  Independent  1635  1043130
39168             72           77         14  Independent  1635  1043130
39169             47           62         14  Independent  1635  1043130

[39170 rows x 11 columns]

In [43]:
#LOCAL GOVERNMENT AREA SUMMARY
#  total number of schools
sort_school = len(sorted(school_data_complete["school_name"].unique()))
print(f'Total number of unique schools: {sort_school}')

#Total Number of students
sort_students = len(sorted(school_data_complete["student_name"].unique()))
print(f'Total students: {sort_students}')

#Total Budget
sort_budget = sum(sorted(school_data_complete["budget"]))
print(f'Budget: ${sort_budget}')

#Average maths score
sum_avgms = sum(sorted(school_data_complete["maths_score"]))
sort_avgms = sum_avgms / len((sorted(school_data_complete["maths_score"])))
print(f'Average Maths Score: {sort_avgms}')

#Average reading score
sum_avgrs = (sum(sorted(school_data_complete["reading_score"])))
sort_avgrs = sum_avgrs / len(sorted((school_data_complete["reading_score"])))
print(f'Average Reading Score: {sort_avgrs}')

#% passing maths (the percentage of students who passed maths)
pass_mg = sorted(school_data_complete["maths_score"] > 50)
percentage_mg = len(pass_mg) / len((sorted(school_data_complete["maths_score"]))) * 100
print(f'% passing maths (the percentage of students who passed maths) {percentage_mg}')

#Calculate the percentage of students with a passing reading score

Total number of unique schools: 15
Total students: 32655
Budget: $82932329558
Average Maths Score: 70.33819249425581
Average Reading Score: 69.98013786060761
% passing maths (the percentage of students who passed maths) 100.0

In [44]:
#School Summary
(sorted(school_data_complete["school_name"].unique()))

['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School']

In [47]:
data = {
    'school_name': ['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School'],
    
    'School Type:' ['City X', 'City Y', 'City Z'],
    'number_of_students': [500, 700, 600],
    'average_math_grade': [85, 90, 75]
}

# Create a DataFrame from the dictionary
school_data = pd.DataFrame(data)

# Print the DataFrame
print(school_data)

SyntaxError: ':' expected after dictionary key (2765371194.py, line 18)

In [70]:
group_schools = (sorted(school_data_complete["school_name"].unique()))

#(group_schools['type'].first())

df["school_name"].unique()
#df["type"].unique()

school_data["budget_per_student"] = group_schools['budget'] / group_schools['size']
print(school_data)

TypeError: list indices must be integers or slices, not str